
body{
    background-image: url(../train2.jpg);
    background-size: cover;
    font-family: 'Courier New', Courier, monospace;
}
.container{
    width: 50%;
    backdrop-filter: blur( 0.5px );
   -webkit-backdrop-filter: blur( 0.1px );
    background-color: transparent;
    margin: auto;
    padding: 20px;
    margin-top: 15px;
    h1{
        margin-top: 10px;
        text-align: center;
        color: red;
        margin-bottom: 20px;
    }
    .submit-btn{
        width: 125px;
        height: 55px;
        border-radius: 5px;
        margin-left: 260px;
        color: #fff;
        padding: 10px 25px;
        border-radius: 100px;
        background-color: #4C43CD;
        background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 87% at 26% 20%, rgba(255, 255, 255, 0.41) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
        box-shadow: 2px 19px 31px rgba(0, 0, 0, 0.2);
        font-weight: bold;
        font-size: 16px;
        border: 0;
        user-select: none;
       -webkit-user-select: none;
       touch-action: manipulation;
       cursor: pointer;
     }
}
.reserve{
    display: flex;
}

.details{
    width: 400px;
    padding: 20px;
    box-sizing: border-box;
}
.details:first-child{
    float: left;
}
.details:last-child{
    float: right;
}
label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
input,select{
    width: 90%;
    margin-bottom: 5px;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 4px;
}